.todo{
    width:30%;
    box-sizing: border-box;
    background-color: rgb(233, 17, 17);
    padding: .25em;
    border-radius: .75em;
    margin: 1em;
    cursor: pointer;
}

.todo h3{
    margin:0px;
}

.todo p{
    margin:0px;
}

.finished{
    opacity: 40%;
    background-color: rgb(33, 36, 219);
    text-decoration: line-through;
}

#complete-items{
    border: .2em solid lightblue;
}

#incomplete-items{
    border: .1em solid black;
    margin-bottom: 1em;
}

#complete-items, 
#incomplete-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-family: Arial;
}

input[type=button] {
    width: 145px;
    height: 40px;
    background-color: rgb(235, 95, 95);
}

body {
    background-color:rgb(127, 17, 17);
    margin-left:5%;
    margin-right:5%;
}

input[type=text]{
    padding: .3em;
    margin-bottom: 1em;
}

input[type=text]:hover{
    background-color:lightblue;
}

input[type=button]:hover{
    background-color: lightcoral;
}